.home {

    .main-banner {
        height: 580px;

        &__overlay {
            padding: $global-padding;

            h1 {
                font-size: 2.75rem;
                padding: 0 ($global-padding * 10);
            }

            .author {
                margin: $global-margin 0 0;
            }
        }
    }

    .inner-content {

        .sidebar {

            .widget {

                &.widget_text_training,
                &.widget_text_about {
                    height: 327px;
                    min-height: inherit;
                    margin: 0;
                }

                &.widget_mc4wp_widget {
                    display: block;
                }

                &.widget_text_training {

                    .widget__inner-content {
                        padding: 0 15px;
                    }

                }

            }

        }

    }

    &-section__about {

        &-rachael {
            padding: 0 2rem;

            .container_inner-content {
                @include vertical-center;
                float: none;
                width: 40%;

                .inner-content {
                    float: left;
                    padding: ($global-padding *2) 0;
                }

                h2 {
                    font-size: 1.65em;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &-section_form {

        .inner-content {
            margin: 0 auto;
            width: 75%;
        }
    }

    &-section__latest {

        .container_inner-content {

            > div {
                display: block;
            }
        }

        .podcast-grid-item {
            margin-bottom: 0;

            &:nth-child(2n) {
                float: left;
                margin-right: 2%;
            }

            &:nth-child(4n) {
                float: right;
                margin-right: 0;
            }
        }
    }
}