/******************************************************************
Site Name:
Author:

Stylesheet: Home Page Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/

.home {

  .main-banner {
    display: block;
    position: relative;

    &::after {
      background-color: $black;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: .3;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &__overlay {
      padding: 20px;
      position: relative;
      width: 100%;
      z-index: 3;

      h1 {
        border-bottom: 0;
        color: $white;
        font-size: 1.25rem;

        .author {
          display: block;
        }
      }
    }
  }

  &-section {
    font-size: 1.125rem;

    .section-title {
      line-height: 1;
      margin: 0 0 2rem;
    }

    p {
      margin: 0;

      + p {
        margin: $global-margin 0 0;
      }
    }

    .note {
      font-size: 80%;
    }
  }

  &-section__about {
    @include css-gradient($brand-orange, lighten($brand-orange, 15%));
    position: relative;

    &::after {
      background: url('../../library/images/home-about-us-background-texture.jpg') 50% 0 no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .container_inner-content {
      padding: 20px;
      position: relative;
      z-index: 2;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }
    }

    &-rachael {
      padding: 0;
      position: relative;

      &::after {
        display: none;
      }

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  &-section__form {
    position: relative;

    &::before {
      background: url('../../library/images/form-bg-pattern.png') 0 0 repeat;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: .35;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    h2 {
      text-align: center;

      small {
        display: block;
        color: $base-gray;
        font-family: $sans;
        font-weight: 400;
        margin: 7px 0 0;
      }
    }

    .inner-content {
      background-color: rgba($white, .7);
      border: 1px solid $light-gray;
      padding: 20px;
      position: relative;
      z-index: 2;
    }
  }
}

