.home {

    .main-banner {
        height:340px;
        overflow: hidden;

        &__overlay {
            @include vertical-center;
            top: calc(50% + 40px);

            h1 {
                font-size: 24px;
                padding: 0 3rem;
            }
        }
    }

    &-section {
        font-size: 1.5rem;
        padding: $global-padding * 2;
    }

    &-section__about {

        .container_inner-content {

            p {
                text-align: center;
            }
        }

        &-rachael {

            .container_inner-content {
                float: left;
                width: 65%;

                h2 {
                    font-size: 28px;
                }

                p {
                    font-size: 20px;
                    text-align: left;
                }
            }

            .section-title {
                text-align: left;
            }

            img {
                float: right;
                height: auto;
                width: 30%;
            }
        }
    }

    &-section__form {

        h2 {
            font-size: 2rem;
        }

        .inner-content {
            padding: 2rem;
        }

        &-subscribe {

            .wpforms-field-name,
            .wpforms-field-email {
                float: left;
                width: 50%;
            }

            .wpforms-field-name {
                padding: 0 10px 0 0;
            }

            .wpforms-field-email {
                text-align: right;
                padding: 0 0 0 10px;
            }
        }
    }
}
