/******************************************************************
Site Name:
Author:

Stylesheet: Home Page Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/

.home {

  .main-banner {
    display: block;
    position: relative;

    &::after {
      background-color: $black;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: .3;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &__overlay {
      @include vertical-center;
      padding: $global-padding;
      width: 100%;
      z-index: 3;

      h1 {
        border-bottom: 0;
        color: $white;
        font-size: 2.75rem;
        padding: 0 ($global-padding * 10);

        .author {
          display: block;
          margin: $global-margin 0 0;
        }
      }
    }
  }

  &-section {
    font-size: 1.5rem;
    padding: $global-padding * 2;

    + .home-section {
      border-top: 1px solid $light-gray;
    }

    .section-title {
      line-height: 1;
      margin: 0 0 $global-margin;
      text-decoration: underline;
    }

    p {
      margin: 0;

      + p {
        margin: $global-margin 0 0;
      }
    }

    .note {
      font-size: 80%;
    }
  }

  &-section__about {
    @include css-gradient($brand-orange, lighten($brand-orange, 15%));
    position: relative;

    &::after {
      background: url('../../library/images/home-about-us-background-texture.jpg') 50% 0 no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      height: 100%;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .container_inner-content {
      position: relative;
      z-index: 2;

      h2 {
        color: $white;
      }

      p {
        color: $white;
        text-align: center;
      }
    }

    &-rachael {
      padding: 0;
      position: relative;

      &::after {
        display: none;
      }

      .section-title {
        text-align: left;
      }

      img {
        height: auto;
        float: right;
        width: 30%;
      }

      .container_inner-content {
        @include vertical-center;

        .inner-content {
          padding: ($global-padding *2) 0;
          width: 50%;
        }

        p {
          text-align: left;
        }
      }
    }
  }

  &-section__form {
    text-align: center;

    .input-box {
      margin: $global-margin 0 0;

      .email {
        height: 65px;
        line-height: 65px;
        margin: 0 auto;
      }
    }

    .actions {
      margin: $global-margin 0;

      .button {
        display: inline-block;
        font-size: 2rem;
        padding: $global-padding ($global-padding * 2);
        text-transform: uppercase;
      }
    }
  }
}

#footer-content {
  margin-top: 40px;

  .widgettitle {
    color: $text-color;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
  }

  li.widget_grid_widget {
    border: none;
    list-style: none;
    padding: 0;

    ul li {
      margin: 0.375em 0;
      margin-bottom: 0;
    }
  }

  .ri-shadow:after,
  .ri-shadow:before {
    display: none;
  }

  .ri-grid {
    margin: .375em auto;
  }

}
